* {
    font-family: 'Poppins', sans-serif;
}



/* generic class */
.wcolor{
    color: white;
}
.wbgcolor{
    background-color: white;
}
.bgblack {
    background-color: #000;
}

.myborder {
    border: 2px solid red;
}

.w-6 {
    width: 6%;
}

.vh70 {
    height: 70vh;
}

.vh80 {
    height: 80vh;
}

.vh90 {
    height: 90vh;
}

/* inizio navbar */

/* .btn-custom {
    color: #e04b4d;
    border-radius: 15px;
    padding: 5px 15px;
} */

.h-60 {
    height: 60%;
}

/* css scan button  inizio*/
.button-50 {
    appearance: button;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #de183b 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

/* css scan button  fine*/
/* fine navbar */

/* inizio header */

/* glitch title inizio */
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.glitch {
    position: relative;
    right: -100px;
    font-size: 200px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: 'Naiki';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #df474a;
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: grey;
    z-index: -2;
}

@keyframes glitch-color {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(-3px, -3px);
    }

    60% {
        transform: translate(3px, 3px);
    }

    80% {
        transform: translate(3px, -3px);
    }

    to {
        transform: translate(0);
    }
}

/* glitch title fine */

.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #de183b 5%);
  border: 0;
  color: black;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'COMPRA ORA';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #de183b 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 600px;
    height: 86px;
    line-height: 88px;
  }
}

/* immagine header  */
.img-hero {
    position: absolute;
    top: -520px;
    animation-name: float;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes float {
    0% {
        transform: translateY(25px);
    }
}

.hero-custom {
    border-radius: 100px;
    /* background-color: #000000; */
    /* background-image: url('./f3.jpeg');
    background-size: cover;
    background-position: center; */
}

/* fine header */
/* inizio main */
/* inizio section 1 */
/* sezione carosello 1 */
.container-carousell {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 70vh;

}

.swiper1 {
    width: 400px;
    height: 500px;
}

.swiper-slide>img {
    display: block;
    width: 100%;
}

/* sezione bottone carosello 1 */

.button-57 {
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}



.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);

}

/* sezione carosello 1 button custom */
.btn-custom {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;

}

.carousel1 {
    border-radius: 100px;
}

/* carousel 2 section 1 */
.carousel2 {

    position: relative;
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 100px;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 400px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    border-radius: 15px;

}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url(./media/outfit/out3.jpeg);
    background-position: center;
    background-size: cover;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url(./media/outfit/out4.jpeg);
    background-position: center;
    background-size: cover;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url(./media/outfit/out5.jpeg);
    background-position: center;
    background-size: cover;


}

div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url(./media/outfit/out8.jpeg);
    background-position: center;
    background-size: cover;
}

div.item:nth-of-type(5) {
    --offset: 5;
    background-image: url(./media/outfit/out9.jpeg);
    background-position: center;
    background-size: cover;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
    --position: 5;
}

/* fine section 1 */
/* inizio section 2 */
.img_custom {
    width: 300px;
    border-radius: 200px;
}

.img-container {
    height: 50%;

}

.s2 {
    border-radius: 100px;
}

/* fine section 2 */
/* inizio section recensioni  */
.reviw-card {
    border: 2px solid #ececec;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star-container>i {
    font-size: large;
}

/* review section */
.review-card {
    border: 2px solid #ececec;
    padding: 30px;
    border-radius: 25px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

.star-container>i {
    font-size: larger;
}

/* swiper */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}


/* fine main */

/* inizio footer css */
.foot {
    background-color: #de183b;
}

.wrapper> {
    flex: 0 0 auto;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.py-8 {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
}

.footer-link-01 li+li {
    padding-top: 0.8rem;
}


.footer-title-01 {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: 600
}

.footer-link-01 li+li {
    padding-top: .8rem
}

@media (max-width: 991.98px) {
    .footer-link-01 li+li {
        padding-top: .6rem
    }
}


.footer-link-01 a::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -3px;
    left: auto;
    left: 0;
    width: 0;
    height: 3px;
    transition: ease all .35s;
    background: black;
}

.footer-link-01 a:hover::before {
    width: 100%;

}


.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

}



.custom-btn {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
}

.form-control.rounded {
    border-radius: 10px;
}

.small-form {
    font-size: 12px;
    padding: 5px;
}



.social-icons a .icon {
    color: #ffffff;
    transition: color 0.3s;

}


.social-icons a .icon:hover {
    color: rgb(0, 0, 0);
}

/* fine footer css */